@mixin clear-fix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/*
0 - 600 px:      Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet landscape
1200px - 1800p:  Normal style
1800px + :       Big desktop

Breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER Base + typography > genral layout + grid > page layout > components
*/

// NOTE Use relatives units ("rem" and "em" are not affected by root font-size -
//      thay always = to the font-size that comes from the browser: 16px-default)
//      Also "em" is better practice to use in @media queries

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //NOTE 600px / 16px = 37.5em
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //NOTE 900px / 16px = 56.25em
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //NOTE 1200px / 16px = 75em
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //NOTE 1800px / 16px = 112.5em
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
