.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    cursor: pointer;
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 4;

    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
  }

  &__bg {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

    // ¡ z-index works only on defined position (fixed here)
    z-index: 2;

    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
  }

  &__nav {
    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    visibility: hidden;
    opacity: 0;
    transform: translateX(-80rem);
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  &__list {
    width: 100%;
    @include absCenter;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      //¡ background animation of links in the navigation
      background-image: linear-gradient(
        120deg,
        transparent 0 50%,
        $color-white 50% 100%
      );
      background-size: 230%;

      transition: all 0.4s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      background-position: 100%; //¡ background animation of links in the navigation
      transform: translateX(1rem);
      box-shadow: 0 1rem 4rem rgba($color-black, 0.1);
    }

    span {
      margin-right: 1.5rem;
      display: inline-block;
    }
  }
  //¡ Check-box Hack :)
  // • FUNCTIONALITY
  &__checkbox:checked ~ &__bg {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  // • ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    transition: background-color 0.2s;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  //! note on these selectors
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button > &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button > &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button > &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
