.bg-video {
  position: absolute; //NOTE parent (.section-stories) is relative and has only padding
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 15%;

  &__content {
    width: 100%;
    height: 100%;
    object-fit: cover; //NOTE like background-position, but for <video> element
  }
}
