.story {
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  border-radius: 3px;
  background-color: rgba($color-white, 0.6);

  font-size: $default-font-size;

  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    // backface-visibility: hidden;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    position: relative;
    float: left;

    // NOTE shape-outside works only if floated and has width and height
    shape-outside: circle(50% at 50% 50%); //NOTE to make element float around floated in a shape
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    // there was a glitch along &__shape margins -> "overflow: hidden" helped
    overflow: hidden;

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s;

    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;

    // backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); //NOTE filter property
  }
}
