*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%; // 12px 12 / 16 = 0.75
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 9px
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary-light;
  color: $color-white;
}
